body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f7f6;
  color: #333;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #ffffff;
}

nav h2 {
  color: #2c7a7b;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #2e7d6d;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 40px;
}

section {
  padding: 60px 120px;
}

h2 {
  font-size: 28px;
  margin-bottom: 15px;
}
.about-section {
  padding: 80px 120px;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-image img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

/* RIGHT TEXT */
.about-text {
  max-width: 500px;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.6;
}

/* BUTTON */
.about-text button {
  margin-top: 10px;
  padding: 12px 20px;
  border: none;
  background-color: #2e7d6d;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.about-text button:hover {
  background-color: #25665a;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}
.about-text {
  flex: 1;
  max-width: 500px;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
/* EDUCATION SECTION */
.education-section {
  padding: 100px 120px;
  background-color: #f9fbfb;
}

/* Title center */
.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 60px;
}

/* Timeline container */
.timeline {
  position: relative;
  max-width: 800px;
  margin: auto;
}

/* Vertical line */
.timeline::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #cfd8dc;
}

/* Each item */
.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
}

/* Dot */
.timeline-dot {
  width: 12px;
  height: 12px;
  background-color: #2e7d6d;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 8px;
}

/* Content */
.timeline-content {
  margin-left: 30px;
}

/* Headings */
.timeline-content h3 {
  margin: 0;
  font-size: 20px;
}

/* Degree text */
.degree {
  color: #2e7d6d;
  font-weight: 500;
  margin: 5px 0;
}

/* Description */
.details {
  color: #555;
  font-size: 14px;
}
